# SPA (AdaptiveTeamBuilder)
VITE_AZURE_CLIENT_ID=21e97cb5-f8a6-4c88-8982-920c5624b715
VITE_AZURE_TENANT_ID=a450efa3-cb51-43a1-b51e-44ff766fc1ac
# API scope exposed by AdaptiveTeamBuilderService
VITE_AZURE_API_SCOPE=api://7c2c18c8-2e26-412b-89a8-8055382a59d0/access_as_user
VITE_API_BASE_URL=http://localhost:5106
